# dirs
.idea/*
coverage
i18n
/public/assets/*
public/system
tmp/*
tmp/**/*
log/*.log
config/database.yml
db/schema.rb

# dot files
.DS_Store
.bundle
.livereload

# extensions
*.lock
*.bak
*.flux*
*.tmproj
*.watchr
log/*.log*
config/database.yml
*.swp

# files
Guardfile
capybara*.html
chromedriver.log
dump.rdb
*~

.zeus.sock
*.sublime-*
