<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Profile", profile_path %></li>
  <% if user_signed_in? %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  <% end %>
</ul>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user.owner? %>
    <table>
      <thead>
        <tr>
          <td>id</td>
          <td>email</td>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= customer.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>